In [1]:
import pandas as pd

In [2]:
outcomes = pd.read_csv('data/london-outcomes.csv')

In [4]:
police = pd.read_csv('data/london-stop-and-search.csv')

In [5]:
street = pd.read_csv('data/london-street.csv')

In [6]:
crime = pd.read_csv('data/london_crime_by_lsoa.csv')

In [7]:
outcomes.head()

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Outcome type
0,b4adcc899360d595450a35cbe4d7d71d295bafefef98b2...,2014-06,City of London Police,City of London Police,NaN,NaN,No location,NaN,NaN,Suspect charged
1,64b14e3efdf9e12425e3ac19f5e72b6d19b5656523d91b...,2014-06,City of London Police,City of London Police,-0.088843,51.509532,On or near Parking Area,E01032739,City of London 001F,Investigation complete; no suspect identified
2,d9909143deda1db75d8ba35b701f31b268d9273764ad42...,2014-06,City of London Police,City of London Police,-0.084701,51.509320,On or near LOWER THAMES STREET,E01032739,City of London 001F,Investigation complete; no suspect identified
3,bd44c99de1bdc727abc7c682bf3916969a3bc673e93093...,2014-06,City of London Police,City of London Police,-0.079080,51.519615,On or near BISHOPSGATE,E01004307,Tower Hamlets 015B,Formal action is not in the public interest
4,f8e3fc7e63baa91ddd6625dd1f4f48203f565fd021d9d4...,2014-06,City of London Police,City of London Police,-0.104281,51.516032,On or near BEAR ALLEY,E01032740,City of London 001G,Investigation complete; no suspect identified

In [8]:
police.head()

,Type,Date,Part of a policing operation,Policing operation,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search,Removal of more than just outer clothing
0,Person search,2015-03-02T16:40:00+00:00,NaN,NaN,NaN,NaN,Male,25-34,Asian or Asian British - Bangladeshi (A3),Asian,Police and Criminal Evidence Act 1984 (section 1),Stolen goods,Suspect arrested,True,False
1,Person search,2015-03-02T16:40:00+00:00,NaN,NaN,NaN,NaN,Male,25-34,Asian or Asian British - Bangladeshi (A3),Asian,Police and Criminal Evidence Act 1984 (section 1),Stolen goods,Suspect arrested,False,False
2,Person search,2015-03-02T18:45:00+00:00,NaN,NaN,NaN,NaN,Male,25-34,White - Any other White ethnic background (W9),White,Police and Criminal Evidence Act 1984 (section 1),NaN,Suspect arrested,True,True
3,Person search,2015-03-02T19:15:00+00:00,NaN,NaN,NaN,NaN,Male,over 34,White - White British (W1),White,Police and Criminal Evidence Act 1984 (section 1),Stolen goods,Suspect arrested,False,False
4,Person and Vehicle search,2015-03-03T15:50:00+00:00,NaN,NaN,NaN,NaN,Male,25-34,White - White British (W1),White,Police and Criminal Evidence Act 1984 (section 1),Stolen goods,Suspect arrested,True,True

In [9]:
street.head()

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,324a40f7da5f81b2f6c96bc6fe3e300173782e3342f409...,2014-06,City of London Police,City of London Police,-0.113767,51.517372,On or near Stone Buildings,E01000914,Camden 028B,Vehicle crime,Investigation complete; no suspect identified,NaN
1,62dde92ceeb12755a8a95a2829048ce4796ba3cfb3f7c0...,2014-06,City of London Police,City of London Police,-0.111497,51.518226,On or near Pedestrian Subway,E01000914,Camden 028B,Violence and sexual offences,Unable to prosecute suspect,NaN
2,NaN,2014-06,City of London Police,City of London Police,-0.097601,51.520699,On or near Carthusian Street,E01000001,City of London 001A,Anti-social behaviour,NaN,NaN
3,NaN,2014-06,City of London Police,City of London Police,-0.097601,51.520699,On or near Carthusian Street,E01000001,City of London 001A,Anti-social behaviour,NaN,NaN
4,NaN,2014-06,City of London Police,City of London Police,-0.097601,51.520699,On or near Carthusian Street,E01000001,City of London 001A,Anti-social behaviour,NaN,NaN

In [10]:
crime.head()

,lsoa_code,borough,major_category,minor_category,value,year,month
0,E01001116,Croydon,Burglary,Burglary in Other Buildings,0,2016,11
1,E01001646,Greenwich,Violence Against the Person,Other violence,0,2016,11
2,E01000677,Bromley,Violence Against the Person,Other violence,0,2015,5
3,E01003774,Redbridge,Burglary,Burglary in Other Buildings,0,2016,3
4,E01004563,Wandsworth,Robbery,Personal Property,0,2008,6

In [12]:
outcomes.drop(['Crime ID', 'Longitude', 'Latitude', 'LSOA code', 'LSOA name'], axis=1, inplace=True)

In [14]:
police.drop(['Latitude', 'Longitude'], axis=1, inplace=True)

In [15]:
street.drop(['Crime ID', 'Longitude', 'Latitude', 'LSOA code', 'LSOA name', 'Context'], axis=1, inplace=True)

In [16]:
crime.drop(['lsoa_code', 'value'], axis=1, inplace=True)

In [17]:
crime['year'].unique()

array([2016, 2015, 2008, 2012, 2010, 2013, 2014, 2011, 2009], dtype=int64)

In [18]:
crime['year'].value_counts()

2016    1498956
2015    1498956
2014    1498956
2013    1498956
2012    1498956
2011    1498956
2010    1498956
2009    1498956
2008    1498956
Name: year, dtype: int64

In [19]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13490604 entries, 0 to 13490603
Data columns (total 5 columns):
borough           object
major_category    object
minor_category    object
year              int64
month             int64
dtypes: int64(2), object(3)
memory usage: 514.6+ MB

In [23]:
isCrime08 = crime['year']==2008

In [24]:
crime08 = crime[isCrime08]

,borough,major_category,minor_category,year,month
0,Croydon,Burglary,Burglary in Other Buildings,2016,11
1,Greenwich,Violence Against the Person,Other violence,2016,11
2,Bromley,Violence Against the Person,Other violence,2015,5
3,Redbridge,Burglary,Burglary in Other Buildings,2016,3
4,Wandsworth,Robbery,Personal Property,2008,6

In [25]:
crime08.head()

,borough,major_category,minor_category,year,month
4,Wandsworth,Robbery,Personal Property,2008,6
33,Havering,Violence Against the Person,Harassment,2008,1
34,Hillingdon,Violence Against the Person,Offensive Weapon,2008,10
46,Westminster,Criminal Damage,Other Criminal Damage,2008,11
54,Bexley,Theft and Handling,Theft/Taking Of Motor Vehicle,2008,5